<h2 class="mb-3">Agregar tarea</h2>
<section>
  <input
    class="form-control mb-2"
    placeholder="Tarea"
    type="text"
    [(ngModel)]="tarea"
  />
  <input
    class="form-control mb-2"
    placeholder="Nombre del encargado"
    type="text"
    [(ngModel)]="responsable"
  />

  <button class="btn btn-primary" (click)="addTask()">Add Todo</button>
</section>
<hr />
<section>
  <ul class="list-group">
    <li
      *ngFor="let todo of todos; let index = index"
      class="list-group-item list-group-item-primary"
    >
      <p *ngIf="todo.completado == false">
        {{ todo.tarea }} ||
        {{ todo.completado ? "Completado" : "Pendiente" }} ||
        {{ todo.responsable }}
        <button class="btn btn-success" (click)="deleteTask(index)">
          Completar tarea
        </button>
      </p>
    </li>
  </ul>
  <div></div>
</section>
