<h2 class="mb-3">Tareas completadas</h2>
<section>
  <ul class="list-group">
    <li
      *ngFor="let tarea of tareas; let index = index"
      class="list-group-item list-group-item-danger"
    >
      <div *ngIf="tarea.completado == true">
        <p>Nombre de tarea: {{ tarea.tarea }}</p>
        <p>Estado: {{ tarea.completado ? "Completado" : "Pendiente" }}</p>
        <p>Responsable: {{ tarea.responsable }}</p>
        <p>
          Completada el dia {{ tarea.fechaDeFin }} a las {{ tarea.horaDeFin }}
        </p>
        <p>
          Iniciada el dia {{ tarea.fechaDeInicio }} a las
          {{ tarea.horaDeInicio }}
        </p>
        <p>Observaciones: {{ tarea.Observaciones }}</p>
      </div>

      <p *ngIf="tarea.completado == false">
        Tarea en proceso. Iniciada a las {{ tarea.horaDeInicio }} el dia
        {{ tarea.fechaDeInicio }}
      </p>
    </li>
  </ul>
</section>
